{% extends "base.html" %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form }}
        <fieldset>
            <legend>Pick type of filter</legend>
            <input data-id="1" type="checkbox" name="partial" value="partial" class="my-checkbox">partial<br>
            <input data-id="2" type="checkbox" name="full" value="full" class="my-checkbox">full<br>
            <input data-id="3" type="checkbox" name="free-ebooks" value="free-ebooks"
                   class="my-checkbox">free-ebooks<br>
            <input data-id="4" type="checkbox" name="full" value="full" class="my-checkbox">full<br>
            <input data-id="5" type="checkbox" name="ebooks" value="ebooks" class="my-checkbox">ebooks<br>
            <input id="filter" type="submit" value="filter" class="btn btn-primary btn-sm mr-2"><br>
        </fieldset>
    </form>
    <div id="search_list">

    </div>
{% endblock %}
