{% extends "base.html" %}
{% block content %}
    <ol>
        {% for object in objects %}
            <li><label>Title:{{ object.title }}</label></li>
            <label>Author:{{ object.authors }}</label><br>
            <label>Publishing language:{{ object.pub_lnguage }}</label><br>
            <label>Publishing date:{{ object.pub_date }}</label><br>
            <label>Pages amount:{{ object.page_amount }}</label><br>
            <label>Isbn number:{{ object.isbn_num }}</label><br>
            <label>Link:{{ object.link }}</label><br>
            <p></p>
        {% endfor %}
    </ol>
{% endblock %}
